@define-color light #d0e5f5;
@define-color dark #3a4045;
@define-color almost-black #1f2225;

@define-color mandarin #eb8258;
@define-color olivine #93b57b;
@define-color cinnamon-satin #d76977;
@define-color dark-sky-blue #87b0cd;


* {
    min-height: 0;
    font-family: "Inter";
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: @light;
    color: @almost-black;
    border-bottom: 1px solid @almost-black;  
}

#workspaces {
     
}

#workspaces button, #taskbar button {
    margin: 4px;
    padding: 2px;
    border-radius: 4px;
}

#workspaces button:hover, #taskbar button:hover {
    transition-duration: .1s;
    background: @mandarin;
    box-shadow: none;
}

#workspaces button.focused, #taskbar button.active {
    background: @almost-black;
    color: @light;
}

#workspaces button.focused:hover, #taskbar button.active:hover {
    background: @mandarin;
    color: @almost-black;
}

/*
#window {
    font-size: 16px;
    color: @almost-black;
    margin: 4px;
}
*/

#tray {
    min-width: 50px;
    margin: 4px;
    padding: 2px;
    border-radius: 4px;
    background: @dark-sky-blue;
}

#clock.date {
    margin: 4px;
    padding: 0px;
} 

#clock.time {
    margin: 4px;
    padding: 0px;
}

#network.rate {
    min-width: 160px;
    margin: 4px;
    padding: 2px;
    border-radius: 4px;
    background: linear-gradient(to right top, #d76977, #d0749c, #bf84b9, #a794cb, #92a2d2, #82a6d0, #77a9cb, #70abc3, #5fa7b9, #50a2ae, #439da1, #3b9892);
}

#memory {
    min-width: 75px;
    margin: 4px;
    padding: 2px;
    border-radius: 4px;
    background: @olivine;
}

#memory.warning {background: @mandarin;}
#memory.critical {background: @cinnamon-satin;}

#pulseaudio {
    min-width: 50px;
    margin: 4px;
    padding: 2px;
    border-radius: 4px;
    background: @dark-sky-blue;
}
